@model List<Product>

@{
    ViewData["Title"] = "Product List";
}

<div class="container border">
    <div class="row mt-4 mb-3">
        <div class="col-6 text-primary">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i><span class="ms-2">Create New Product</span></a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>ISBN</th>
                <th>Giá</th>
                <th>Tác giả</th>
                <th>Danh mục</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}
